* {
    /* font-family: 'Calibri', sans-serif; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    /* border: 0; */
    text-decoration: none;
    list-style: none;
    transition: all .4s ease-out;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    /* cursor: none; */
    user-select: text;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f108;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: hidden;
    width: 0;
    height: 0;
}